Welcome <%= current_user.username %> (also known as <%= current_user.real_name %>)<br/><br/>
Your have complete the mission <span class="current_mission">Ethan's Birthday Mystery</span><br/>
<%= image_tag "#{current_user.image_name}.png" %><br/>

<div id= "secret_message_form">
<b><%= link_to "Pictures",  "/images/intro.JPG", :class => 'lightview', :rel => 'gallery[secret_agents]', :title => 'Introductory video' %></b><br/><br/>
<div style="display: none">
<% ["website" , "website_2" , "secret_id_cards" , "physical_training" , "refreshments" , "agent_m" , "spy_glasses" , "looking_backwards" , "code_wheels" , "bomb_blueprints" , "bomb_blueprints_2" , "where_is_it" , "found_it" , "the_bomb" , "the_bomb_diffused" , "celebration_meal" , "birthday_cake"].each do |image_name| %>
  <%= link_to "Pictures",  "/images/#{image_name}.JPG", :class => 'lightview', :rel => 'gallery[secret_agents]', :title => image_name.gsub(/_/, ' ').capitalize %>
<% end %>
</div>
<b>Secret Messages</b><br/>
<%- @secret_messages.each do |secret_message| -%>
  <%= link_to secret_message.title, secret_message_url(secret_message) %><br/>
<%- end  -%>
<% form_tag({:controller => "secret_messages", :action => "show", :id =>''})  do %>
  Please enter your secret message below<br/><%= text_field_tag "id", '', :size => 30, :class => 'secret_message_form_text' %>
  <%= submit_tag "Show Clue", :class => "submit" %>
<% end %>
</div>
<br/>
